BOT_TOKEN=8687848556:AAHtl34uTW91j4SZeP-nGi-FH-yTinU7-ws
ADMIN_ID=7142953055
BOT_NAME=Gmail Store Bot
DEFAULT_ACCOUNT_PRICE=0.50
SUPPORT_LINK=@your_support_handle
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
